.git
.gitignore
**/node_modules
**/.env
**/.env.*
!**/.env.example
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
Files/core/vendor
*.zip
QuoteMatch-*.zip
Files/*.zip
Documentation
.idea
.vscode
**/.DS_Store
Thumbs.db
Files/assets/project
